Repository CodeAcademyBerlin/codac-25, pull requests merged in 2025-09, with the labels that each got.

#55 [Feature]: Chat
  actions/chat/create-conversation.ts
  actions/chat/get-available-users.ts
  actions/chat/get-conversation.ts
  actions/chat/get-user-conversations.ts
  actions/chat/send-conversation-message.ts
  actions/chats/send-message.ts
  actions/chats/storeMessages.ts
  app/(dashboard)/chat/page.tsx
  app/(dashboard)/chat/test/page.tsx
  app/layout.tsx
  components/app-sidebar.tsx
  components/chat-message.tsx
  components/chat/chat-layout.tsx
  components/chat/conversation-header.tsx
  components/chat/conversation-list.tsx
  components/chat/conversation-test-client.tsx
  components/chat/conversation-view.tsx
  components/chat/create-conversation-dialog.tsx
  components/chat/message-bubble.tsx
  components/chat/message-input.tsx
  components/chat/message-test-client.tsx
  components/realtime-chat.tsx
  data/chat.ts
  data/chat/get-conversations.ts
  data/chat/get-messages.ts
  hooks/use-chat-scroll.tsx
  hooks/use-realtime-chat.tsx
  lib/server-action-utils.ts
  lib/supabase/client.ts
  lib/supabase/middleware.ts
  lib/supabase/server.ts
  package.json
  pnpm-lock.yaml
  prisma/schema.prisma
  schemas/chat.ts
  test-realtime.sql
  tests/e2e/auth-accessibility.spec.ts
Labels: first-time-contributor, needs-review

#56 Refactor Playwright configuration and update test files
  .gitignore
  actions/auth/update-profile.ts
  components/ui/button.test.tsx
  components/ui/button.tsx
  lib/urls/get-base-url.test.ts
  lib/urls/get-base-url.ts
  package.json
  playwright-report/index.html
  playwright.config.ts
  pnpm-lock.yaml
Labels: priority: medium, difficulty: intermediate, first-time-contributor, needs-review, type: bug, type: feature, type: documentation, type: performance, type: testing, type: refactoring, area: ui, area: api

#57 Refactor file upload handling to use Supabase Storage instead of Uplo…
  .cursor/rules/media-handling.mdc
  .vscode/copilot/prompts/media-handling.md
  README.md
  actions/chat/create-conversation.ts
  app/(dashboard)/chat/page.tsx
  app/(dashboard)/chat/test/page.tsx
  app/api/storage/init/route.ts
  components/chat-message.tsx
  components/chat/chat-layout.tsx
  components/chat/conversation-header.tsx
  components/chat/conversation-list.tsx
  components/chat/conversation-test-client.tsx
  components/chat/conversation-view.tsx
  components/chat/create-conversation-dialog.tsx
  components/chat/message-bubble.tsx
  components/chat/message-input.tsx
  components/chat/message-test-client.tsx
  components/realtime-chat.tsx
  components/ui/input.test.tsx
  hooks/use-upload-file.ts
  lib/server-action-utils.ts
  lib/supabase/server.ts
  lib/supabase/storage-server.ts
  lib/supabase/storage.ts
  lib/uploadthing.ts
  next.config.ts
  package.json
  pnpm-lock.yaml
  scripts/init-storage.js
  tests/e2e/auth-accessibility.spec.ts
  tests/utils/test-helpers.ts
Labels: priority: medium, area: documentation, difficulty: intermediate, first-time-contributor, needs-review, size: large, priority: low, status: needs-review, type: bug, type: feature, type: documentation, type: performance, type: testing, type: refactoring, area: ui, area: api
